<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>549473793577-m68l74r34cltm97qkc7ienpjbma5csnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549473793577-m68l74r34cltm97qkc7ienpjbma5csnu</string>
	<key>API_KEY</key>
	<string>AIzaSyD7J7HmfwK5w68A9QbTMlHbSxC6nZZzRno</string>
	<key>GCM_SENDER_ID</key>
	<string>549473793577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>INFIN-IT-SOLUTION.ForteBusinessBank-Prod</string>
	<key>PROJECT_ID</key>
	<string>fortebanklocal</string>
	<key>STORAGE_BUCKET</key>
	<string>fortebanklocal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549473793577:ios:851028dc85c9e8a3</string>
	<key>DATABASE_URL</key>
	<string>https://fortebanklocal.firebaseio.com</string>
</dict>
</plist>